body {
  font-family: 'Russo One';
  background-color: rgb(20, 18, 29);

  text-size-adjust:100%; 
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
}

#links {
  /*background: rgba(128,128,128,0.2);*/

  position: absolute;
  top: 1%;
  height: 45%;
  left: 1%;
  width: 45%;

  /*text-align: center;*/
  font-size: 160px;
  /*font-weight: 400;*/
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(132, 75, 162);
}